---
import Layout from "../layouts/Layout.astro";
import CityHome from "../components/CityHome.astro";
import { DEFAULT_CITY } from "../data/cities";
import { city as cityState } from "../state";

// Set the default city in state
cityState.set(DEFAULT_CITY);
---

<Layout>
 <h1> Nova Landing page with a map goes here </h1>
</Layout>
